In [ ]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

# Task 1: Reading and Inspection
## Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [ ]:
movies = pd.read_csv('Movies.csv')
# Write your code for importing the csv file here
movies

### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [ ]:
# Write your code for inspection here
movies.describe()

In [ ]:
movies.shape

In [ ]:
movies.info()

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [ ]:
# Write your code for column-wise null count here
movies.isnull().sum()

In [ ]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1)

In [ ]:
# Write your code for column-wise null percentages here
round(100*(movies.isnull().sum()/len(movies.index)),2)

In [ ]:
movies.index

In [ ]:
len(movies.index)

In [ ]:
movies

-  ### Subtask 2.2: Drop unecessary columns

For this , we will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [ ]:
# Write your code for dropping the columns here.
movies = movies.drop(['color',
'director_facebook_likes',
'actor_1_facebook_likes',
'actor_2_facebook_likes',
'actor_3_facebook_likes',
'actor_2_name',
'cast_total_facebook_likes',
'actor_3_name',
'duration',
'facenumber_in_poster',
'content_rating',
'country',
'movie_imdb_link',
'aspect_ratio',
'plot_keywords']
 , axis = 1)
movies

In [ ]:
movies.shape

In [ ]:
movies.isnull().sum()

In [ ]:
round(100*(movies.isnull().sum() / len(movies.index)),2)

### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [ ]:
# Write your code for dropping the rows here
movies = movies[~np.isnan(movies['gross'])]
movies = movies[~np.isnan(movies['budget'])]
movies

In [ ]:
movies.shape

In [ ]:
movies.isnull().sum()

In [ ]:
round(100*(movies.isnull().sum()/ len(movies.index)),2)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [ ]:
movies.isnull().sum(axis=1) > 5

In [ ]:
# Write your code for dropping the rows here
movies = movies[movies.isnull().sum(axis=1) <= 5]
movies

In [ ]:
round(100*((movies.isnull().sum())/ len(movies.index)),2)

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [ ]:
movies['language'].describe()

In [ ]:
movies.loc[pd.isnull(movies['language']),['language']] = 'English'
movies

In [ ]:
round(100*((movies.isnull().sum())/ len(movies.index)),2)

In [ ]:
# Write your code for filling the NaN values in the 'language' column here

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [ ]:
# Write your code for checking number of retained rows here
len(movies.index)

In [ ]:
len(movies.index)/5042

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [ ]:
# Write your code for unit conversion here
movies['gross'] = movies['gross']/1000000
movies['budget'] = movies['budget']/1000000
movies

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [ ]:
# Write your code for creating the profit column here
max((movies['gross']/movies['budget'])*100)

In [ ]:
movies['profit'] = movies['gross'] - movies['budget']
movies

In [ ]:
# Write your code for sorting the dataframe here
movies = movies.sort_values(by = 'profit', ascending= False)
movies

In [ ]:
top10 = movies.iloc[:10]
top10
# Write your code to get the top 10 profiting movies here

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [ ]:
# Write your code for dropping duplicate values here
movies.drop_duplicates(subset = None, keep='first', inplace = True)
movies

In [ ]:
# Write code for repeating subtask 2 here
top10 = movies.iloc[:10]
top10

In [ ]:
movies = movies.sort_values(by = 'imdb_score',ascending= False)

In [ ]:
movies

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). 
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [ ]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

IMDb_Top_250 = movies.iloc[:250]
IMDb_Top_250

In [ ]:
Top_Foreign_Lang_Film = IMDb_Top_250.loc[IMDb_Top_250['language'] != 'English']
Top_Foreign_Lang_Film

# Write your code to extract top foreign language films from 'IMDb_Top_250' here

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [ ]:
# Write your code for extracting the top 10 directors here
director = movies.pivot_table(values = 'imdb_score',index = 'director_name',aggfunc = 'mean')
director = director.sort_values(by='imdb_score', ascending= False)

top10director = director.iloc[:10]
top10director

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.